thdfa {
padding-bottom: 1em;
}
th, th input {
font-weight: bold;
}
table {
  border-collapse: collapse;
}
input.flat {
border: 1px solid #666666;
}
div.step {
border: 2px solid #BBBBBB;
padding: 1em;
margin: 1em;
}
button.disallowed {
background-color: #f44336;
}
a.fillexample {
	color: red;
	text-decoration: underline;
}

table {
  margin: 1em 0.2em;
}

table td, table th {
  border: 1px solid black;
  padding: 0.3em 1em;
  margin: 0;
}

.solutioncut {
  background-color: yellow;
}

.invariantfield {
  background-color: #add8e6;
}

.invariantfield-rejects {
  background-color: #ffcccb;
}

.category-entry {
  background-color: #d3d3d3;     
}

.ctrls {
  color: #0000ff; 
  font-size:90%;  
}

.removable {
  color: #0000ff; 
  font-size:90%;  
}

.editable {
  color: #0000ff; 
  font-size:90%;  
}

.goto {
    line-height: 0.5em
}

#reject {
  background-color: yellow;
}